.app.dark{
    --bg-color: #040429;
    --inverted-bg-color: #e8e8ea;

    --primary-color: #049604;
    --second-color: #84ff84;
    --inverted-primary-color: #0232c2;
    --inverted-second-color: #0449e0;
}